/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  background-color: skyblue;
  font-family: "Open Sans", sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: #444;
}

h1 {
  text-align: center;
  color: blue;
  font-family: "Georgia", serif;
  font-size: 35px; 
  text-shadow: 2px 2px 0px black;
}

.test {
  font-style: bold;
  text-align: right;
  color : black;
}


//.main-side{ 
  width: 160px;  height: 120px; 
  position: relative; 
  left: auto; top: auto; 
  background: #bf6060; 
  z-index: 9; 
  border-right: px solid rgba(0,0,0,0.05);
}

//.test2 {
  margin-top: 20px;  margin-right: 20px;
  font-style: normal;
  text-decoration: none;
}
