/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  background-color: #20282a;
  /*background-image: url(https://wallpapershome.com/images/pages/pic_h/4028.jpg);
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;*/
  font-family: "Open Sans", sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: #444;
}

h1 {
  margin-bottom: 5%;
  text-align: center;
  color: #91849a;
  font-family: "Georgia", serif;
  font-size: 35px; 
  text-shadow: 2px 2px 0px black;
}

.grid {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: 200px 120px 150px;

}

.g1 {
  grid-row: 3;
}

.g2 {
  grid-row: 1;
}


.test {

  background-color: #4d4d4d;
  height: 100%;
  width: 170px;
  font-size: 22px;
  font-style: italic;
  text-decoration: none;
}

.test a {
  display: block;
  padding: 6px;
  font-family: "constantia";
  color : #000000;

}
.test a:hover {
  color: #06062e;
  background: #91849a;
}

.e{
  float: left;
}

.aze{
  position:inherit;
  float: right;
}

.rt {
  
  
}
/*.main-side{ 
  width: 160px;  height: 120px; 
  position: relative; 
  left: auto; top: auto; 
  background: #bf6060; 
  z-index: 9; 
  border-right: px solid rgba(0,0,0,0.05);
}

.test2 {
  margin-top: 20px;  margin-right: 20px;
  font-style: normal;
  text-decoration: none;
}*/

