/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  background-color: #c2c2c2;
  /*background-image: url(https://wallpapershome.com/images/pages/pic_h/4028.jpg);
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;*/
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  animation-name: example;
  animation-duration: 5s;
  animation-iteration-count:infinite;
  color: #444;
}


.chb {
  color: black;
  text-align: center;
  font-style: italic;
  margin-top: 15%;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 28px;
  font-family: Constantia;
}

.chb2 { 
  color: rgb( 50, 54,50)/*black*/;
  text-align: left;
  font-style: normal;
  margin-top: 8%;
  padding-left: 30px;
  padding-right: 5px;
  font-size: 21px;
  font-family: Constantia;
}

.cssform p {
  width: 300px;
  clear: left;
  margin-top: 10px;
  margin: auto;
  margin-bottom: 10px;
  padding: auto;
  padding-left: 155px; 
  height: 40px;
}

.cssform label{
  display: block;
  border-radius: 10px;
  font-family: Constantia;
  font-size: 20px;
  font-weight: bold;
  float: left;
  margin-left: -45%; 
  width: 150px;
}

.ctn {
  display: inline-block;
  width: 100px;
  clear: left;

  font-family: Constantia;
  font-weight: bold;
  border-radius: 13px;
  margin-right: 8px;
  background-color: #5d5d5d; 
  font-size: 15px;
  height: 40px;
}

.ctn1 {
  display: block;
  margin-top: 20px;
  margin-left: 300px;
  width: 15px;
  clear: left;
  font-family: Constantia;
  font-weight: bold;
  margin-right: 8px;
  font-size: 15px;
  height: auto;
}

.c {  margin-left: 37%; }

.charte {
  font-size: 23px;
  font-family: Constantia;
  color: black;
  margin-left: 2%;
  width: 95%;
}

.ct{
  font-size: 27px;
  font-family: Constantia;
  color: black;
  margin-top: 20px;
  margin-left: 2%;
  width: 95%;
}

.h2 { font-size: 25px; }

.res {
  color: black;
  text-align: center;
  font-style: italic;
  margin-top: 10%;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 28px;
  font-family: Constantia;
}


.title {
  margin-bottom: 5px;
  padding-top: 35px;
  padding-bottom: 35px;
  text-align: center;
  color: #000000;
  font-family: "Georgia", serif;
  font-style: italic;
  font-size: 35px; 
  text-shadow: 2px 2px 0px #7f7f7f;
}

.grid {
  display: grid;
  margin-top: 15px;
  grid-gap: 10px;
  grid-template-columns: 40% 80px 40%;
}

.gridd {
  display: grid;
  margin-top: 10px;
  grid-gap: 10px;
  grid-template-columns: 50%  45%;
}

hr {
  height: 2px;
  background-color: black;
}

.image {
  display: block;
  color: black;
  grid-column: 1;
  text-align: center;
  font-style: italic;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 23px;
  font-family: Constantia;
  width: 50%;
  /*border-right-width: 4px;
  border-right-style: solid;
  border-color: yellow;*/
}

.textimg {
  color: black;
  grid-column: 2;
  text-align: center;
  font-style: italic;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 23px;
  font-family: Constantia;
  /*border-left-width: 4px;
  border-left-style: solid;
  border-color: yellow;*/
}

/*---------- Responsive ----------*/
@media screen and (max-width:600px) 
 { 
  .image, .textimg { font-size: 10px;  width:100%; }
  
  @keyframes example 
   {
   40%  {background-color:#c2c2c2; }
   40%  {background-color:#535359; }
   40%  {background-color:#60868b; }
   40%  {background-color:#5a645a; }
   40%  {background-color:#716667; }
  }

  .test, .testa {
   display:flex;
   border-radius: 15px;
   padding:4px;
   background-color: #4d4d4d;
   width: 100%;
   font-size: 16px;
   color: black;
   font-style: italic;
   font-family: Constantia;
   text-decoration: none;
  }

  .test a:hover { color: #06062e;  background: #91849a; }

  .gridd { display: block; width: 100%; }

  .title { font-size: 19px; }

  .ct { font-size: 18px; }

  .c { margin-left: 230px; }

  .testc { font-size: 12px; width: 100px; }

  .chb, .charte  { font-size: 16px;  }

  .res  { font-size: 15px;  }

  .chb2 { font-size: 13px;  }

  .footer { font-size: 13px;  }

 }
/*---------- Responsive ----------*/

@media screen and (min-width: 600px) {
  .image, .gridd, .textimg, .chb2, .chb { width: 100%; font-size: 18px; }
  
  @keyframes example 
  {
   40%  {background-color:#c2c2c2; }
   40%  {background-color:#535359; }
   40%  {background-color:#60868b; }
   40%  {background-color:#5a645a; }
   40%  {background-color:#716667; }
  }

  .test, .testa {
   display:flex;
   border-radius: 15px;
   margin-top:4px;
   padding:4px;
   background-color: #4d4d4d;
   width: 100%;
   font-size: 20px;
   color: black;
   font-style: italic;
   font-family: Constantia;
   text-decoration: none;
  }

  .test a:hover { color: #06062e;  background: #91849a; }

  
  .footer, .footer p { font-size: 15px; text-align: center; }

  h3 { padding-top: 1%; }

/*---------- Responsive ----------*/

@media screen and (min-width: 1000px) 
{
  .image, .textimg{ font-size: 25px; width:100%; }
    
  .gridd { display: grid; width: 100%; }

  .chb  { font-size: 28px; }

  .chb2 { font-size: 21px; }   

  .footer { font-size: 13px; }


/*-------- End Responsive -------*/

h3 { padding-top: 12%; }

/*
.gridleft {
  grid-column: 1;
}
.gridleftrow1 {
  grid-column: 2;
  grid-row: 1;
}
.gridleftrow2 {
  grid-column: 2;
  grid-row: 2;
}
.gridleftrow3 {
  grid-column: 2;
  grid-row: 3;
}

.gridmidright {
  grid-column: 32;
}

.gridright {
  grid-row: 2;
  grid-column: 4;

} 
*/

.test {
  display:flex;
  border-radius: 15px;
  padding:4px;
  background-color: #4d4d4d;
  width: 100%;
  font-size: 25px;
  font-style: italic;
  font-family: Constantia;
  text-decoration: none;
}

.testa { 
  display:flex;
  border-radius: 15px;
  padding:4px;
  background-color: #91849a;
  width: auto;
  font-size: 25px;
  font-style: italic;
  text-decoration: none;
  padding-left: 17px;
  padding-right:15px;
  font-family: Constantia;
  color : #000000;  
}

.testb { 
  display:block;
  border-radius: 15px;
  padding:4px;
  background-color: #91849a;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
  font-style: italic;
  text-decoration: none;
  padding-left: 10px;
  font-family: Constantia;
  color : #000000;  
}

.testc { 
  display:block;
  border-bottom: 1px solid black;
  margin-bottom: 1px;
  margin-top: 1px; 
  padding:4px;
  background-color: #91849a;
  width: 170px;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
  font-style: italic;
  text-decoration: none;
  padding-left: 10px;
  font-family: Constantia;
  color : #000000;  
}

.test a {
  margin-left: 25px;
  margin-right: auto;
  /*font-family: Constantia;*/
  color : #000000;
}

.test a:hover {
  color: #06062e;
  background: #91849a;
}

@keyframes example 
{
  40%  {background-color:#c2c2c2; }
  40%  {background-color:#535359; }
  40%  {background-color:#60868b; }
  40%  {background-color:#5a645a; }
  40%  {background-color:#716667; }
}
/*
<style>
/------------ à mettre dans la page html--------------/
div {
animation-direction: alternate;
animation-name: example;
animation-duration: 5s;
animation-iteration-count:infinite;
}
</style>
} 
*/
.footer {
  display: block;
  position: relative;
  bottom: 0px;

}

.footer p {
  color: #050605;
  text-align: center;
  font-size: 15px;
  padding-top: 15px;
}
}